<!doctype html>

<head xmlns:>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <style>
        .main.container {
            padding-top: 50px;
        }
    </style>
</head>

<body>
<div class="ui inverted fixed menu">
    <div class="header item">Tutoriel</div>
</div>

<div class="ui main container" id="app">

    <input type="text" v-model="message">
    <input type="checkbox" v-model="success">
    <div class="ui success message" v-if="success">
        <i class="close icon" @click="close"></i>
        <p>
            {{message}}
        </p>
    </div>

    <div class="ui error message" v-else>
        <p>Echec ça n'a pas marché</p>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.4/vue.js"></script>
<!-- Attention en cas de message d'erreur ALT + MAJ + ENTREE pour importer la librairie-->
<script src="js/app.js"></script>
</body>

</html>
